// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.spacer {
  height: 20px;
}

#namebox {
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  font-size: 22px;
  width: 50%;
  margin: auto;
}

#addpost {
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  width: 50%;
  margin: auto;
}

.postbox {
  width: 80%;
  height: 60px;
  font-size: 15px;
}

.postbutton {
  width: 30%;
  height: 30px;
  margin: 10px;
  font-size: 13px;
}

#posts {
  border-style: solid;
  border-color: white;
  border-radius: 20px;
  width: 50%;
  margin: auto;
}

#singlepost {
  border-style: none;
  border-color: #dad8d8;
  border-radius: 12px;
  font-size: 20px;
  width: 90%;
  margin: auto;
  background-image: linear-gradient(to right, #e0e0e0, #d5bedf);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
