<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <div class="footer">
      <p>Designed by wizardCow</p>
    </div>
  </body>
</html>
